
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50 px;
    font-weight: 700;
}
h3{
    color:coral;
    font-weight: 700;
}

#nike{
    color: coral;
}
#run{
    color: rgb(42, 100, 209);
}
.shopping-card img{
    width: 60%;
    align-self: center;
}
.shopping-card{
    border: 0;
}
.shoe-card{
    border: 0;
    border-radius: 3%;
}
#subscribe{
    background-color: #d684b4;
}
.container img{
    
    width: 78px;
    height: 82px;  
}

.fashion{
    border: 0;
    border-radius: 5px;
    text-align: center;
}
.heading{
    font-size: 25px;
    font-weight: bold;
   color:rgb(90, 129, 247);
}
.shoes{
    padding-left: 25px;
}